* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backwards, .forwards {
    width: 5%;
    background-color: gold;
    height: 50%;
    display: flex;
    align-items: center;
}

.forwards {
    justify-content: flex-end;
}

.carousel {
    width: 90%;
    background-color: green;
    height: 50%
}

.fas {
    font-size: 50px;
}
